<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="miApp">
        <h1>{{contador}}</h1>
        <button @click="sumar_uno">+</button>
        <button @click="restar_uno">-</button>
        <h1 v-if="contador<0">{{mensaje_error}}</h1>
        <h1 v-else>{{mensaje_positivo}}</h1>
        <select>
            <option v-for="(elemento, index) in lista" :key="index">{{elemento}}</option>
        </select>
    </div>




    <script src="https://unpkg.com/vue@next"></script>
    <script src="app_contador.js"></script>
</body>
</html>